
const firebaseConfig = {
  apiKey: "AIzaSyA3HIqR4rT3NANEulauFy_-3OkuWOqYhqk", 
  authDomain: "salinha-de-filme.firebaseapp.com",
  projectId: "salinha-de-filme",
  storageBucket: "salinha-de-filme.firebasestorage.app",
  messagingSenderId: "589071044223",
  appId: "1:589071044223:web:2e8c6e0b4644bc99fbf94a"
};
